.receta__boton{
    background: red;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: .5rem;
    transition: all .1s ease-in-out;
}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}